* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif; 

  
}



/*navbar*/



li, a {
  font-weight: 500;
  color: black;
  text-decoration: none;
  transition: 0.5s;
} 

header {
  padding: 10px 10%;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);




}


li {
    display: inline-block;
    padding: 0px 0px;

  }
.hover a:hover{
  color: #FAE100;

}
.hover {
  font-size: 18px;
}

.navba-icon {
  position: absolute;
  right: 100px;
  top: 7px;
}


.site-title {
    font-size: 3em;
    text-align: center;
    line-height: 0.75;
    text-shadow: 0.1rem 0.1rem #ffd700;
    margin: 0rem 1rem;
    margin-top: -25px;
}

.bold-text {
    font-weight: 700;
}

/*body1*/

.container {
  overflow: hidden;

}


.image-header{
  object-fit: cover;
  width: 100%;

}

/*.postheader {
  margin-top: -400px;

  
}*/

.box{
  position: absolute;
  bottom: -400px;
  right: -50px;
  left: 200px;
  color: white;  
  font-weight: 300;
  border: 1.5px solid white;
  padding:  30px;
  margin: 300px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}



/*grid-card*/
.header-grid {
  text-align: center;
  margin-top: 50px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px; margin-top: 50px; margin-right: 30px;}
.row2 { margin-right: 100px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  padding: 16px;
  background-color: white;
  

}

.card h3 {
  font-size: 10px;
 


}
.cagor {
  background-color: #FFE80E;
  padding: 0px;
  
}



.card h1 {
  font-size: 20px;
  font-weight: 700;
}

.card p {
  font-size: 15px;
  color: black;
  font-weight: 700;

}

.container2   {
  margin-top:540px;
}

/*body2*/

.text{
  text-align: center;
  font-weight: 800;
  font-size: 1em;
  color: grey;
}
.text h3 {
  font-size: 20px;
}

.text a:hover{
  color:yellow;
}

/*body-grid2*/

.header {
  text-align: center;
  margin-top: 90px;
}

.header h1{
  font-size: 27px;
}

/*.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item img {
  width: 200px;
}*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
}
.grid-item {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.grid-item img{
  width:  360px;
  height: 200px;
  object-fit: cover;
}

.centered {
  margin-top: -100px;
  margin-bottom: 100px;
  color: white;
  font-weight: 700;
}

/*body3*/

.crop-height {
  /* max-width: 1200px; /* native or declared width of img src (if known) */
  max-height: 120px;
  overflow: hidden;
  padding-left: 40px;
  padding-right: 40px;   }

  img.scale {
  /* corrects small inline gap at bottom of containing div */
  display: block; 
  width: 100%; /* corrects obscure Firefox bug */
  max-width: 100%;
  /* just in case, to force correct aspect ratio */
  height: auto !important;
  display: block; /* corrects small inline gap at bottom of containing div */
  width: 100% /* corrects obscure Firefox bug */
  max-width: 100%;
  /* just in case, to force correct aspect ratio */
  height: auto !important;
  /*width: auto\9; 
  /* ie8+9 - use modernizr instead of this \9 hack */
  /* lt ie8 */
  -ms-interpolation-mode: bicubic;
  /* optionally force a minimum size if img src size is known: */
  /* min-height: 320px; /* max-height of .crop-height */
  /* min-width: 480px; /* proportional to above */ }

  .flip {
  -webkit-transform: rotate(180deg);
  -moz-transform:    rotate(180deg);
  -ms-transform:     rotate(180deg);
  -o-transform:      rotate(180deg);
  transform:         rotate(180deg);
  /* needed? not sure */
  zoom: 1; }

img.flip {
  /* actually, aligns left within .cropheight */
  float: right;
  /* clearfix after? */ }


/* presentational CS below */


.title{
  position: absolute;
  left: 520px;
  margin-top: -80px;
    color: white;
    font-size: 30px;
}


.title2{
  position: absolute;
  left: 380px;
  margin-top: -80px;
  color: white;
  font-size: 30px;
}

/*body4*/

.header2 {
  text-align: center;
  margin-top: 70px;
}

.header2 h1 {
  font-family: 'Noticia Text', serif;
  font-size: 27px;
  color: #727272;
}

.header2 a p {
   font-family: sans-serif; 
   font-size: 14px;
   margin-left: 350px;
}
.header2 a:hover{
  color: #FAE100;
}

/*body4*/

.body4{
  text-align: center;
  margin-top: 50px;


}

.line-horizontal i {
   font-size:27px
}

.line-horizontal li {
  padding: 50px;
}

.line-horizontal li a {
  transition: 0.5s;


}

.line-horizontal a:hover {
   color: yellow;
   transition: opacity 1s ease-in-out;
   opacity: 1;
}

/*bodygrid2.1 + 2.2*/

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 30px;

}
.grid-item2 {
  margin-right: -20px;

}

.card2 {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  padding: 16px;
  background-color: white;
  

}

.card2 h3 {
  font-size: 10px;
 


}
.cagor {
  background-color: #FFE80E;
  padding: 0px;
  
}



.card2 h1 {
  font-size: 20px;
  font-weight: 700;
}

.card2 p {
  font-size: 15px;
  color: black;
  font-weight: 700;

}

.card2 image {
  width: 100%;
}


/*footer*/

.header-footer {
  text-align: center;
}

.header-footer a h1{
  font-size: 25px;
}

.header-footer a:hover {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  color: yellow;

}


.line-horizontal2{
  text-align: center;
  padding: 20px;
}

.header-footer-nav {
  background-color: #E9E9E9;
}




.line-horizontal2 li {
  padding: 50px;
  margin-top: -80px;

}

.line-horizontal2 li a {
  transition: 0.5s;


}

.line-horizontal2 a:hover {
   color: yellow;
   transition: opacity 1s ease-in-out;
   opacity: 1;
}


.facebook-emb{
  margin-left: 900px;
}